<li class="movie">
  <a href="/movie/<%= movie['id'] %>">
    <div class="content">
      <% if (!movie['poster_path'] || movie['poster_path'] == "null") %>
        <img class="missing-poster" src="http://via.placeholder.com/500x750">
      <% else %>
        <img src="<%= "https://image.tmdb.org/t/p/w500#{movie['poster_path']}" %>">
      <% end %>
      <h2 class="title"><%= movie['title']%></h2>
    </div>
  </a>
</li>